

<table>

  <tbody>
    <td> Total Ataque: <%= @suma_ataque %> </td> <br>
    <td> Total Defensa: <%= @suma_defensa %> </td>

  </tbody>
</table>

<br>

<td><%= link_to 'Retirarse', retirarse_path %></td>
<td><%= link_to 'Atacar al enemigo', user_root_path %></td>